body {
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    font-family: -apple-system, blinkmacsystemfont, "segoe ui", "noto sans", helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji";
    font-size: 1rem;
    min-width: 15rem;
    height:100%
}

#page-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 4rem;
    margin: 1.5rem;
}

.active {
    text-shadow: -0.06ex 0 0 currentColor, 0.06ex 0 0 currentColor;
}

.show-crosshair {
    cursor: crosshair;
}